<h2>Chỉnh sửa hồ sơ</h2>
<form asp-action="ChinhSuaHoSo" method="post">
    <div class="form-group">
        <label>Họ tên</label>
        <input type="text" name="HoTen" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ngày sinh</label>
        <input type="date" name="NgaySinh" class="form-control" />
    </div>
    <div class="form-group">
        <label>Giới tính</label>
        <select name="GioiTinh" class="form-control">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
        </select>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" name="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label>SĐT</label>
        <input type="text" name="SoDienThoai" class="form-control" />
    </div>
    <div class="form-group">
        <label>Quê quán</label>
        <input type="text" name="QueQuan" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
