@model QLDatVeMayBay.ViewModels.DoiMatKhauViewModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu mới";
}

<h2>Đặt lại mật khẩu</h2>

<form asp-action="DoiMatKhau" method="post">
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label>Mật khẩu mới</label>
        <input asp-for="MatKhauMoi" class="form-control" type="password" />
        <span asp-validation-for="MatKhauMoi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Xác nhận mật khẩu mới</label>
        <input asp-for="XacNhanMatKhauMoi" class="form-control" type="password" />
        <span asp-validation-for="XacNhanMatKhauMoi" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Cập nhật</button>
    <!-- Nút quay lại -->
    <a class="btn btn-outline-secondary btn-back" href="javascript:history.back()">← Quay lại</a>

</form>
