@{
    Layout = "_Layout"; // hoặc bạn có thể dùng layout riêng biệt khác nếu muốn

}

<div class="container">
    <h2 class="mt-3">🎛️ Quản trị hệ thống</h2>

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="/NguoiDung/Index">👤 Người dùng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/QuanLyChuyenBay/Index">✈️ Chuyến bay</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/VeMayBay/Index">🎫 Vé đã đặt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/ThongKe">📊 Thống kê</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/GuiThongBao">📧 Gửi thông báo</a>
        </li>
    </ul>

    @RenderBody()
</div>
