@{
    Layout = "~/Views/Shared/_LayoutTraveloka.cshtml"; // hoặc _Layout.cshtml nếu bạn chưa đổi
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Chào mừng đến với Boolari</h2>
    <p class="text-center mb-5">Tìm kiếm và đặt vé máy bay nhanh chóng, dễ dàng, an toàn.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/anh1.jpg" class="card-img-top" alt="Ảnh 1">
                <div class="card-body">
                    <h5 class="card-title">Chuyến bay giá tốt</h5>
                    <p class="card-text">Tìm kiếm hàng ngàn chuyến bay với giá ưu đãi mỗi ngày.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/anh2.jpg" class="card-img-top" alt="Ảnh 2">
                <div class="card-body">
                    <h5 class="card-title">Hành trình linh hoạt</h5>
                    <p class="card-text">Đặt vé linh hoạt theo nhu cầu và thời gian của bạn.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/anh3.jpg" class="card-img-top" alt="Ảnh 3">
                <div class="card-body">
                    <h5 class="card-title">Hỗ trợ 24/7</h5>
                    <p class="card-text">Đội ngũ hỗ trợ luôn sẵn sàng để giúp bạn mọi lúc mọi nơi.</p>
                </div>
            </div>
        </div>
    </div>
</div>
